.products-list{
  --tw-grid-columns: 1;

  &-title{
    text-align: center;
  }

  &-items{
    display: grid;
    grid-template-columns: repeat(var(--tw-grid-columns), minmax(340px, 340px));
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;

    &__item{
      padding: 2rem 1rem;
      padding-top: 4rem;
      max-width: 420px;
      height: 100%;
      background-color: var(--background-main-color-200);
      border-radius: 1rem;
      transition: .25s ease-in-out;
      cursor: pointer;

      &:hover{
        background-color: var(--card-hover-main-color-100);
        rotate: -1deg;
        scale: 1.01;
      }

      img{
        padding-bottom: 4rem;
        max-width: 320px;
        max-height: 240px;
      }
    }
  }
}

@media (min-width: $break-md){
  .products-list{
    --tw-grid-columns: 2;

    &-items{
      &__item{
        &:last-child{
          grid-column: span 2 / span 2;
          width: 50%;
          margin: auto;
        }
      }
    }
  }
}

@media (min-width: $break-xl){
  .products-list{
    --tw-grid-columns: 3;

    &-items{
      &__item{
        &:last-child{
          grid-column: span 1 / span 1;
          width: 100%;
        }
      }
    }
  }
}