.font-header{
  font-size: var(--font-heading-size-400);
  font-family: var(--font-family-100);
  color: var(--font-main-color-100);
}

.font-footer{
  font-size: var(--font-body-size-100);
  font-family: var(--font-family-200);
  font-weight: 400;
  color: var(--font-main-color-500);

  a, span{
    color: var(--font-main-color-500);
  }
}

.font-heading{
  font-size: var(--font-heading-size-100);
  font-family: var(--font-family-100);
  font-weight: 700;
  color: var(--font-main-color-100);
}

.heading-mid{
  font-size: var(--font-heading-size-200);
}

.heading-small{
  font-size: var(--font-heading-size-300);
}

.heading-min{
  font-size: var(--font-heading-size-400);
}

.font-subtitle{
  font-size: var(--font-body-size-100);
  font-family: var(--font-family-200);
  color: var(--font-main-color-100);
}

.subtitle-huge{
  font-size: var(--font-body-size-500);
}

.subtitle-large{
  font-size: var(--font-body-size-400);
}

.subtitle-small{
  font-size: var(--font-body-size-200);
}

.subtitle-min{
  font-size: var(--font-body-size-300);
}

.font-weight-400{
  font-weight: 400;
}

.font-weight-500{
  font-weight: 500;
}

.font-weight-700{
  font-weight: 700;
}